/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-right: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.page-section {
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.content-box {
  text-align: center;
  padding: 20px;
  background-color: pink;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-top: 20px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.content-toggle-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content-hidden {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  overflow: hidden;
  background-color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
